.row
  .col-sm-3.col-xs-12
    .small-box.bg-green
      .inner
        %h3
          = number_to_pln(income)
        %p Income
      .icon
        %i.fa.fa-usd
      = link_to incomes_path, class: 'small-box-footer' do
        More info
        %i.fa.fa-arrow-circle-right
  .col-sm-3.col-xs-12
    .small-box.bg-red
      .inner
        %h3
          = number_to_pln(spent)
        %p Spent
      .icon
        %i.fa.fa-shopping-cart
      = link_to expenses_path, class: 'small-box-footer' do
        More info
        %i.fa.fa-arrow-circle-right
  .col-sm-3.col-xs-12
    .small-box.bg-yellow
      .inner
        %h3
          = number_to_pln(income - spent)
        %p Balance
      .icon
        %i.fa.fa-balance-scale
      = link_to expenses_path, class: 'small-box-footer' do
        More info
        %i.fa.fa-arrow-circle-right
  .col-sm-3.col-xs-12
    .small-box.bg-blue
      .inner
        %h3
          = number_to_pln(average_spent_per_day)
        %p Average spent per day
      .icon
        %i.fa.fa-credit-card
      = link_to expenses_path, class: 'small-box-footer' do
        More info
        %i.fa.fa-arrow-circle-right
