%section.content-header
  %h1
    Edit profile
    %small You can edit here your profile
%section.content
  .row
    .container
      = simple_form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :email, required: true, autofocus: true
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          = f.input :password, autocomplete: 'off', hint: 'leave it blank if you dont want to change it', required: false
          = f.input :password_confirmation, required: false
          = f.input :current_password, hint: 'we need your current password to confirm your changes', required: true
          = f.input :avatar
        .form-actions
          = f.button :submit, 'Update', class: 'btn btn-primary'
