.page-header
  %h2.section-heading.text-center= @subcategory.title
  %p= @subcategory.description
.row
  .container
    - if @subcategory.category.income?
      %h2
        Incomes
        %small= number_to_pln(sum_values(@subcategory.incomes))

      = render partial: 'incomes/incomes', locals: { incomes: @subcategory.incomes }
    - else
      %h2
        Expenses
        %small= number_to_pln(sum_values(@subcategory.expenses))
      = render partial: 'expenses/expenses', locals: { expenses: @subcategory.expenses }
