.row
  .nested-fields.col-md-12
    = f.error_notification
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-credit-card
        = f.input :value, autofocus: true, as: :string, input_html: { class: 'expense_value', autocomplete: 'off' }
        %span.input-group-addon PLN
    .form-group
      .input-group
      = f.association :subcategory, collection: Category.expense, as: :grouped_select, group_method: :subcategories, prompt: 'Choose a Category', input_html: { class: 'subcategory-selectize' }
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-commenting-o
        = f.input :description, as: :text
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-tags
        = f.input :tag_list, input_html: { class: 'expense-tag-list' }

    = f.input :track, inline_label: 'Track?'
    = link_to_remove_association f do
      %i.fa.fa-times.fa-2x.pull-right
    %br

:javascript
  jQuery( document ).ready(function( $ ) {
    $('.expense-tag-list').tokenfield({
      autocomplete: {
        source: #{raw ActsAsTaggableOn::Tag.pluck(:name)},
        delay: 100
      },
      showAutocompleteOnFocus: true
    })
    $('.subcategory-selectize').last().selectize();

    $('.expense_value').focusout(function() {
      var calc = $(this).val().replace(',', '.');
      $(this).val(eval(calc));
    })
  });
