.row
  .col-md-8
    = minimal_form_for @bill do |bill|
      = bill.error_notification
      .form-group
        .input-group
          .input-group-addon
            %i.fa.fa-user
          = bill.association :user, collection: User.all, label_method: :email, prompt: current_user.email
      .form-group
        .input-group.date
          .input-group-addon
            %i.fa.fa-calendar
          = bill.input :operation_date, as: :string, placeholder: Date.today.to_s, input_html: { class: 'datepicker form-control pull-right',  autocomplete: 'off' }
      .form-group
        .input-group
        = bill.association :contractor, collection: Contractor.all, prompt: 'Choose a Contractor', input_html: { class: 'contractor-selectize' }
      = bill.input :to_divide, inline_label: 'To divide?'

      .form-group
        .input-group
          = bill.input :photo

        - if @bill.photo.attached?
          %span
            Attached photo:
            = link_to @bill.photo.filename, url_for(@bill.photo)

      #expenses
        %br
        = bill.simple_fields_for :expenses do |expense|
          = render 'expense_fields', f: expense
        .links
          %br
          = link_to_add_association bill, :expenses do
            %span.pull-right
              %i.fa.fa-plus.fa-2x.pull-right
          %br
      %br
      = bill.submit nil, class: 'btn btn-primary'
      = link_to 'cancel', bills_path, class: 'btn btn-default'

:javascript
  jQuery( document ).ready(function( $ ) {
    $('.datepicker').datepicker({ firstDay: 1, autoclose: true, dateFormat: 'yy-mm-dd' });
    $('.contractor-selectize').selectize();
  });
