.container
  %section.content-header
    %h1
      Sum:
      = number_to_currency(@bill.value, unit: 'zł', format: "%n %u")

  %section.content
    .row
      .col-xs-6
        .table-responsive
          %table.table
            %tr
              %th Expense Date:
              %td= l @bill.operation_date
            %tr
              %th Added:
              %td= l @bill.created_at
            %tr
              %th User:
              %td= @bill.user.email
            %tr
              %th Dividable:
              %td= @bill.to_divide
            - if @bill.photo.attached?
              %tr
                %th Attached photo:
                %td
                  = link_to @bill.photo.filename, url_for(@bill.photo)

            %tr
              %th Expenses:
              %td
                %table.table.table-responsive
                  %thead
                    %tr
                      %th Value
                      %th Category
                      %th Description
                      %th Tags
                      %th Tracked
                  %tbody
                  - @bill.expenses.each do |expense|
                    %tr
                      %td= number_to_currency(expense.value, unit: 'zł', format: "%n %u")
                      %td= link_to category_label(expense.subcategory), subcategory_path(expense.subcategory)
                      %td= expense.description
                      %td= raw expense.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
                      %td= expense.track

    .page-footer
      .text-center
        = link_to 'back', bills_path, class: 'btn btn-default'
        = link_to 'edit', edit_bill_path(@bill), class: 'btn btn-default'
        = link_to 'destroy', bill_path(@bill), method: 'delete', data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'                                                                                   |
