.row
  .container
    .col-md-8
      = minimal_form_for @income do |f|
        = f.error_notification
        = f.input :operation_date, as: :date
        = f.input :value, autofocus: true, placeholder: 'zł'
        = f.association :subcategory, collection: Category.income, as: :grouped_select, group_method: :subcategories
        = f.input :description, as: :text
        .text-center
          = f.button :submit, class: 'btn btn-primary'
          = link_to 'cancel', incomes_path, class: 'btn btn-default'
