.row
  .col-md-8
    = minimal_form_for @income do |f|
      = f.error_notification
      .form-group
        .input-group.date
          .input-group-addon
            %i.fa.fa-calendar
          = f.input :operation_date, as: :string, placeholder: Date.today.to_s, input_html: { class: 'datepicker form-control pull-right' }
      .form-group
        .input-group
          .input-group-addon
            %i.fa.fa-credit-card
          = f.input :value, autofocus: true
          %span.input-group-addon PLN
      .form-group
        .input-group
        = f.association :subcategory, collection: Category.income, as: :grouped_select, group_method: :subcategories, prompt: 'Choose a Category', input_html: { class: 'subcategory-selectize' }
      .form-group
        .input-group
          .input-group-addon
            %i.fa.fa-commenting-o
          = f.input :description, as: :text
      = f.button :submit, class: 'btn btn-primary'
      = link_to 'cancel', incomes_path, class: 'btn btn-default'
:javascript
  jQuery( document ).ready(function( $ ) {
    $('.datepicker').datepicker({ firstDay: 1, autoclose: true, dateFormat: 'yy-mm-dd' });
    $('.subcategory-selectize').selectize();
  });
