= simple_form_for @income, validation: true, html: { class: 'form-model' } do |f|
  = f.error_notification
  .form-group
    = f.input :operation_date, as: :date
  .form-group
    = f.label 'Amount'
    = f.text_field :value, data: { role: 'money', a_sep: ',', a_dec: '.' }, autofocus: true, class: 'form-control numeric  required control-label col-md-2', label: 'Amount'
  .form-group
    = f.association :subcategory, collection: Category.income, as: :grouped_select, group_method: :subcategories
  .form-group
    = f.input :description, as: :text
  .form-group
    .col-md-offset-2.col-md-10
      = f.button :submit, class: 'btn btn-primary'
      = link_to 'cancel', incomes_path, class: 'btn btn-default'
