.box-body.table-responsive.no-padding
  %table.table.table-sm.table-hover
    %thead
      %tr
        %th User
        %th Subcategory
        %th Description
        %th Date
        %th Value
        %th
    %tbody
      - incomes.each do |income|
        %tr{ class: ('warning' if income.user == current_user) }
          %td= image_tag(income.user.avatar || 'no-avatar.jpg', height: '22', width: '22', class: 'img-circle')
          %td= link_to category_label(income.subcategory), subcategory_path(income.subcategory)
          %td= truncate(income.description, length: 60)
          %td= l income.operation_date, format: '%d-%m'
          %td= link_to number_to_currency(income.value, unit: 'zł', format: '%n %u'), income_path(income)
          %td
            = link_to edit_income_path(income), class: 'btn btn-xs btn-warning',title: 'Edit', rel: 'tooltip' do
              %i.fa.fa-pencil-square-o
            = link_to income_path(income), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger', title: 'Remove', rel: 'tooltip' do
              %i.fa.fa-trash
