
.page-header
  %h2.section-heading.text-center Income
.row
  .container
    %dl.dl-horizontal
      %dt Amount
      %dd= number_to_currency(@income.value, unit: 'zł', format: "%n %u")
      %dt Category
      %dd= @income.subcategory&.label
      %dt Income Date
      %dd= l @income.operation_date
      %dt Added
      %dd= l @income.created_at
      %dt User
      %dd= @income.user.email
      %dt Description
      %dd= @income.description

    .text-center
      = link_to 'back', incomes_path, class: 'btn btn-default'
      = link_to 'edit', edit_income_path(@income), class: 'btn btn-default'
      = link_to 'destroy', income_path(@income), method: 'delete', data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'                                                                                   |
