- model_class = Income
.page-header
  %h1= t '.title', :default => Income
.fieldset
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:value)
    %dd
      %pre.prettyprint= @income.value
    %dt.label.label-default= model_class.human_attribute_name(:earn_date)
    %dd
      %pre.prettyprint= @income.earn_date
.form-group
  = link_to 'back', incomes_path, class: 'btn btn-default'
  = link_to 'edit', edit_income_path(@category), class: 'btn btn-default'
  = link_to 'destroy', income_path(@category), method: 'delete', data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'                                                                                   |
