.box-body.table-responsive.no-padding
  %table.table.table-sm.table-hover
    %thead
      %tr
        %th Name
        %th Default Category
        %th Revolut
        %th.col-sm-1
    %tbody
      - contractors.each do |contractor|
        %tr
          %td= link_to contractor.name, contractor_path(contractor)
          %td= link_to contractor.subcategory.title, subcategory_path(contractor.subcategory) if contractor.subcategory
          %td= truncate(contractor.revolut_id, length: 30)

          %td.col-sm-1
            = link_to edit_contractor_path(contractor), class: 'btn btn-xs btn-warning', title: 'Edit', rel: 'tooltip' do
              %i.fa.fa-pencil-square-o
            = link_to contractor_path(contractor), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger', title: 'Remove', rel: 'tooltip' do
              %i.fa.fa-trash
