.row
  .col-md-8
    = minimal_form_for @contractor, html: { class: 'form-model' } do |contractor|
      = contractor.error_notification
      .box.box-primary
        .box-body
          .form-group
            = contractor.input :name
            = contractor.input :description
            = contractor.input :card_info
            = contractor.submit nil, class: 'btn btn-primary'
            = link_to 'cancel', categories_path, class: 'btn btn-default'
