.row
  .col-md-8
    = minimal_form_for @contractor, html: { class: 'form-model' } do |contractor|
      = contractor.error_notification
      .box.box-primary
        .box-body
          .form-group
            = contractor.input :name
            = contractor.input :description
            = contractor.association :subcategory, collection: Category.expense, as: :grouped_select, group_method: :subcategories, prompt: 'Choose a Category', input_html: { class: 'subcategory-selectize' }
            = contractor.input :card_info
            = contractor.input :revolut_id
            = contractor.submit nil, class: 'btn btn-primary'
            = link_to 'cancel', contractors_path, class: 'btn btn-default'
