.container
  %section.content-header
    %h1
      Expenses
      %small= number_to_pln(@total_value)
      %small.pull-right
        by day:
        = pln_per_day(@total_value)
      %small.pull-right
        by month:
        = pln_per_month(@total_value)

    = render partial: 'dashboard/charts/expenses_pie_chart', locals: { expenses: @expenses }

  %section.content
    .container
      .row
        = render partial: 'expenses/expenses', locals: { expenses: @paginated_expenses }
      .text-center
        = paginate @paginated_expenses
