= simple_form_for @category, html: { class: 'form-model' } do |category|
  = category.input :title
  = category.input :description
  %h3 Tasks
  #subcategories
    = category.simple_fields_for :subcategories do |subcategory|
      = render 'subcategory_fields', f: subcategory
    .links
      = link_to_add_association 'Add subcategory', category, :subcategories
    .form-group
    .col-md-offset-2.col-md-10
    = category.submit nil, class: 'btn btn-primary'
    = link_to 'cancel', categories_path, class: 'btn btn-default'
