.row
  .col-md-8
    = minimal_form_for @category, html: { class: 'form-model' } do |category|
      = category.error_notification
      .box.box-primary
        .box-body
          .form-group
            = category.input :title
            = category.input :description
            = category.select(:kind, Category.kinds.keys.map {|role| [role.titleize,role]})
            %br
            #subcategories
              %br
              = category.simple_fields_for :subcategories do |subcategory|
                = render 'subcategory_fields', f: subcategory
              .links
                %br
                = link_to_add_association 'Add subcategory', category, :subcategories
                %br
            %br
            = category.submit nil, class: 'btn btn-primary'
            = link_to 'cancel', categories_path, class: 'btn btn-default'
