.page-header
  %h1 Category
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th title
      %th description
      %th created_at
      %th actions
  %tbody
    - @categories.each do |category|
      %tr
        %td= category.id
        %td= category.title
        %td= category.description
        %td= l category.created_at, format: :long
        %td
          = link_to 'Show', category_path(category), class: 'btn btn-xs'
          = link_to 'Edit', edit_category_path(category), class: 'btn btn-xs'
          = link_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs'
= link_to 'New', |
  new_category_path,
  class:'btn btn-primary'
