
.page-header
  %h2.section-heading.text-center Category
.row
  .container
    %dl.dl-horizontal
      %dt Title
      %dd= @category.title

      %dt Description
      %dd= @category.description

    %dt Subcategories
    %ul
      - @category.subcategories.each do |subcategory|
        %li= subcategory.title
    .text-center
      = link_to 'back', categories_path, class: 'btn btn-default'
      = link_to 'edit', edit_category_path(@category), class: 'btn btn-default'
      = link_to 'destroy', category_path(@category), method: 'delete', data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'
