= simple_form_for @expense, validation: true, html: { class: 'form-model' } do |f|
  = f.error_notification
  .form-group
    = f.input :operation_date, as: :date
  .form-group
    = f.input :value, autofocus: true
    = f.association :subcategory, collection: Category.expense, as: :grouped_select, group_method: :subcategories
  .form-group
    = f.input :description, as: :text
  .form-group
    = f.input :tag_list

  .form-group
    .col-md-offset-2.col-md-10
      = f.button :submit, class: 'btn btn-primary'
      = link_to 'cancel', expenses_path, class: 'btn btn-default'

:javascript
  jQuery( document ).ready(function( $ ) {
    $('#expense_tag_list').tokenfield({
      autocomplete: {
        source: #{ActsAsTaggableOn::Tag.most_used.pluck(:name)},
        delay: 100
      },
      showAutocompleteOnFocus: true
    })
  });
