.container
  %section.content-header
    %h1
      Expenses
      %small= number_to_pln(@total_value)
    .pull-right.col-md-3
      .text-center
        = link_to expenses_path(users: current_user.id, tag: params['tag']), class: 'btn btn-flat' do
          Only you
          %i.fa.fa-user
        |
        = link_to expenses_path(tag: params['tag']), class: 'btn  btn-flat' do
          All Users
          %i.fa.fa-users

  %section.content
    .container
      .row
        - tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class|
          = link_to tag.name, tag_path(tag.name), class: css_class
        = render partial: 'expenses', locals: { expenses: @expenses }
      .text-center
        = paginate @expenses
