<p id="notice"><%= notice %></p>

<p>
  <strong>Spent date:</strong>
  <%= @expense.spent_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @expense.value %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @expense.subcategory %>
</p>

<p>
  <strong>User:</strong>
  <%= @expense.user %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
