.container
  %section.content-header
    %h1
      = number_to_currency(@expense.value, unit: 'zł', format: "%n %u")
      %small= @expense.description
  %section.content
    .row
      .col-xs-6
        .table-responsive
          %table.table
            %tr
              %th{:style => "width:50%"} Category:
              %td= @expense.subcategory.label
            %tr
              %th Expense Date:
              %td= l @expense.operation_date
            %tr
              %th Added:
              %td= l @expense.created_at
            %tr
              %th User:
              %td= @expense.user.email
            %tr
              %th Dividable:
              %td= @expense.to_divide
            %tr
              %th Tags:
              %td
                - tag_cloud(@expense.tags, %w(tag1)) do |tag|
                  = link_to tag.name, tag_path(tag.name)
    .page-footer
      .text-center
        = link_to 'back', expenses_path, class: 'btn btn-default'
        = link_to 'edit', edit_expense_path(@expense), class: 'btn btn-default'
        = link_to 'destroy', expense_path(@expense), method: 'delete', data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'                                                                                   |
